---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minimal-mistakes";

.about-box{
  max-width: 900px;
  width: 100%;
  margin: 40px auto;
  padding: 24px;
  box-sizing: border-box;
}

